dev/Debug/
dev/Release/
dev/x64/Release/
dev/ipch/
dev/_UpgradeReport_Files/
dev/MayaBoids/x64
dev/MayaBoidsPlugin/Release/

dev/MayaBoids.suo
dev/UpgradeLog.XML

dev/MayaCache/Debug/
dev/MayaCache/Release/


dev/TestDLL/Debug/
dev/TestDLL/Release/
dev/TestDLL/x64/

dev/Intermediate
dev/Output

dev/KDTree/Debug/


*.vcxproj.filters
*.vcxproj.user
*.obj
*.pdb
*.sdf
*.opensdf
*.suo
*.tlog
*.user
*.ncb